.home-container{
    background: url("http://localhost/LMS/public/images/home.jpg") no-repeat center;
    background-size: cover;
    height: 400px;
}

.height-100{
    height: 100%;
}

.m-y-6{
    margin-top: 70px;
    margin-bottom: 70px;
}

.course{
    width: 90%;
    height: 150px;
    border-radius: 15px;
}
